.dropdown_betterselect
{
	height: 60px;
	display: inline-block;
	overflow-y: scroll;
	position: absolute;
	background: yellow;
	
}
.dropdown_betterselect table
{

}
.dropdown_betterselect td
{
	padding: 2px;
}

.wrapper_betterselct
{
	position: relative;
	display: inline-block;
}